body {
    overflow-x: hidden;
    font-family: "Montserrat", sans-serif;
  }
  
  /*================
   Seach Box Design
  ==================*/
  .search-field {
    border: none;
    border-radius: 50px;
    padding: 5px;
    outline: none;
  }
  .search-field:hover {
    outline: none;
    border: none;
  }
  .search-box {
    border: 1px solid rgb(3, 118, 211);
    width: 281px;
    border-radius: 5px;
    margin: auto;
    margin-top: 50px;
    border-right: none;
  }
  .search-button {
    padding: 10px 50px;
    border-radius: 25px;
    margin-left: 20px;
  }
  
  /*=====================
    Product Card Design
  =======================*/
  #all-products {
    width: 100%;
    /* margin: auto; */
  }
  .myCard {
    transition: 0.3s ease-in-out;
  }
  .myCard:hover {
    box-shadow: 4px 4px 7px rgba(128, 128, 128, 0.329);
  }
  .product-image-cont {
    width: 100%;
    height: 210px;
    padding: 10px 0px;
    text-align: center;
  }
  .product-image{
    width: 200px;
    height: 100%;
  }
  .myCard{
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0,0,0,.125);
      border-radius: .25rem;
      width: 320px;
  }
  
  /*===============
      Cart Design
  =================*/
  .cart {
    width: 353px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 30px;
  }
  
  /*===============
      Media Query
  =================*/
  @media only screen and (max-width: 768px) {
    #all-products {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .cart {
      width: 300px;
      /* border: 1px solid green; */
      padding: 10px;
      box-shadow: 10px 10px 20px gray;
      border-radius: 5px;
      margin-right: 30px;
      position: fixed;
    }
    .cart-main {
      padding-right: 10px;
    }
  }
  @media only screen and (max-width: 468px) {
    #all-products {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }